@import url("fontawesome/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }

body {
  min-width: 320px;
  background-color: #fff;
  font-family: 'Roboto', sans-serif; }

h1 {
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase; }

h2 {
  font-weight: 500;
  font-size: 24px; }

h3 {
  font-weight: 500;
  font-size: 18px; }

h4 {
  font-weight: 500;
  font-size: 14px; }

p {
  font-family: 'PT Serif', serif;
  font-size: 14px; }

.text_underline {
  text-decoration: underline; }
