@import url("fontawesome/css/all.min.css");
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }

html {
  background-color: #282828; }

body {
  width: 1920px;
  margin: 50px auto;
  background-color: #fff; }

.container {
  margin: auto;
  padding: 0 15px;
  width: 1140px; }
