@import url('fontawesome/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
$sub-color: #FFC222;

// -------------------- Normalize --------------------- //

* { margin: 0;	padding: 0; }
a { text-decoration: none; color: black; }

body {
	min-width: 320px;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-weight: 500;
	font-size: 30px;
	text-transform: uppercase;
}

h2 {
	font-weight: 500;
	font-size: 24px;
}

h3 {
	font-weight: 500;
	font-size: 18px;
}

h4 {
	font-weight: 500;
	font-size: 14px;
}

p { font-family: 'PT Serif', serif; font-size: 14px; }

.text_underline { text-decoration: underline; }

// ---------------------- Blocks ---------------------- //

@import url('_container/_container.css');
@import url('_overlay/_overlay.css');
@import url('_section-title/_section-title.css');
@import url('_yellow-button/_yellow-button.css');
@import url('_feedback-form/_feedback-form.css');
@import url('_feedback-button/_feedback-button.css');

// ------------------- Page Elements ------------------ //


@import url('_roof/_roof.css');
@import url('_slider/_slider.css');
@import url('_header/_header.css');
@import url('_our-service/_our-service.css');
@import url('_about-company/_about-company.css');
@import url('_get-consultation/_get-consultation.css');
@import url('_our-advantages/_our-advantages.css');
@import url('_news/_news.css');
@import url('_contacts/_contacts.css');