@import url("fontawesome/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
@import url("_container/_container.css");
@import url("_overlay/_overlay.css");
@import url("_section-title/_section-title.css");
@import url("_roof/_roof.css");
@import url("_slider/_slider.css");
@import url("_header/_header.css");
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }

body {
  min-width: 320px;
  background-color: #fff;
  font-family: 'Roboto', sans-serif; }

h1 {
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase; }

h2 {
  font-weight: 500;
  font-size: 24px; }

h3 {
  font-weight: 500;
  font-size: 18px; }

h4 {
  font-weight: 500;
  font-size: 14px; }

p {
  font-family: 'PT Serif', serif;
  font-size: 14px; }

.yellow-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #FFC222; }
  .yellow-button .left {
    padding: 0px 20px;
    font-weight: 500; }
  .yellow-button .right {
    padding: 14px 8px;
    background-color: #FFC222; }

#OurServices .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0 35px; }
  #OurServices .items .item {
    padding: 30px 35px;
    width: 290px;
    text-align: center;
    background-color: #F9F9F9;
    -webkit-box-shadow: 0 0 27px 7px rgba(91, 89, 89, 0.14);
    box-shadow: 0 0 27px 7px rgba(91, 89, 89, 0.14); }
    #OurServices .items .item h3 {
      margin: 25px auto; }
    #OurServices .items .item p {
      margin-bottom: 65px; }
    #OurServices .items .item .bottom {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      #OurServices .items .item .bottom .underline {
        text-decoration: underline; }

@media (max-width: 1140px) {
  #OurServices .items {
    display: block; }
    #OurServices .items .item {
      margin: 15px auto; } }

@media (max-width: 380px) {
  #OurServices .items .item {
    width: 240px;
    padding: 30px 20px; } }

#AboutCompany {
  background-image: url("images/about-company-background.png");
  background-size: cover;
  background-position: 0 35%; }
  #AboutCompany .container {
    padding: 35px 0 45px;
    height: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start; }
    #AboutCompany .container p {
      max-width: 600px;
      color: #d3d2d2; }

@media (max-width: 680px) {
  #AboutCompany .container {
    height: 290px; } }

#ToGetConsultation .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

#ToGetConsultation .text-content {
  width: 850px; }
  #ToGetConsultation .text-content form {
    padding-bottom: 40px;
    display: -ms-grid;
    display: grid;
    grid-template-areas: "email message message" "phone message message" "name message message" "topic none submit";
    justify-items: start; }
    #ToGetConsultation .text-content form .email {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      grid-area: email; }
    #ToGetConsultation .text-content form .phone {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      grid-area: phone; }
    #ToGetConsultation .text-content form .name {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
      grid-area: name; }
    #ToGetConsultation .text-content form .topic {
      -ms-grid-row: 4;
      -ms-grid-column: 1;
      grid-area: topic; }
    #ToGetConsultation .text-content form .message {
      -ms-grid-row: 1;
      -ms-grid-row-span: 3;
      -ms-grid-column: 2;
      -ms-grid-column-span: 2;
      grid-area: message; }
    #ToGetConsultation .text-content form .submit {
      -ms-grid-row: 4;
      -ms-grid-column: 3;
      grid-area: submit; }
    #ToGetConsultation .text-content form > div {
      width: 100%; }
    #ToGetConsultation .text-content form .description {
      margin: 25px auto 10px 5px; }
    #ToGetConsultation .text-content form input.text {
      border: 1px solid #E6E6E6;
      padding: 10px;
      line-height: 18px;
      width: calc(100% - 50px); }
    #ToGetConsultation .text-content form textarea {
      border: 1px solid #E6E6E6;
      padding: 10px;
      line-height: 18px;
      width: calc(100% - 22px);
      height: 216px;
      resize: none; }
    #ToGetConsultation .text-content form select {
      border: 1px solid #E6E6E6;
      padding: 10px;
      padding-right: 30px;
      width: calc(100% - 30px); }
      #ToGetConsultation .text-content form select option {
        height: 18px; }
    #ToGetConsultation .text-content form .yellow-button {
      -ms-grid-column-align: right;
      justify-self: right;
      -ms-flex-item-align: end;
      align-self: flex-end; }

#ToGetConsultation img {
  width: calc(100% - 850px); }

@media (max-width: 1100px) {
  #ToGetConsultation img {
    display: none; }
  #ToGetConsultation .text-content {
    width: 100%; } }

@media (max-width: 500px) {
  #ToGetConsultation .text-content form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    #ToGetConsultation .text-content form input.text {
      width: calc(100% - 22px); }
    #ToGetConsultation .text-content form select {
      width: calc(100% - 2px); }
    #ToGetConsultation .text-content form .submit {
      margin-top: 20px;
      -ms-flex-item-align: end;
      align-self: flex-end; } }

#OurAdvantages {
  background-image: url("images/our-advantages-background.png");
  background-size: cover;
  background-position: 0 100%; }
  #OurAdvantages .container {
    padding: 65px 15px 40px;
    height: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  #OurAdvantages .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    width: 335px; }
    #OurAdvantages .item h3 {
      margin: 15px auto; }
    #OurAdvantages .item p {
      color: #D3D2D2; }
    #OurAdvantages .item .arrow {
      border: 2px solid #FFC222;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 36px;
      width: 36px; }

@media (max-width: 1180px) {
  #OurAdvantages {
    background-position: 80% 0; }
    #OurAdvantages .container {
      display: block;
      height: auto; }
      #OurAdvantages .container .item {
        margin: 50px auto; } }

@media (max-width: 380px) {
  #OurAdvantages .container .item {
    width: 100%; } }

#News {
  background-color: #f9f9f9; }
  #News .news-content .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #News .news-content .slider .opened-news-article {
      background-color: #fff;
      -webkit-box-shadow: 0 0 27px 7px rgba(91, 89, 89, 0.14);
      box-shadow: 0 0 27px 7px rgba(91, 89, 89, 0.14);
      width: 415px;
      padding: 0 70px; }
      #News .news-content .slider .opened-news-article .quote-icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 35px;
        width: 65px;
        background-color: #FFC222;
        color: white; }
      #News .news-content .slider .opened-news-article .text {
        padding: 35px 0; }
        #News .news-content .slider .opened-news-article .text p {
          margin: 25px 0; }
    #News .news-content .slider .closed-news-article {
      width: 265px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-bottom: 35px; }
      #News .news-content .slider .closed-news-article .news-photo {
        width: 265px;
        height: 190px;
        background-size: cover; }
        #News .news-content .slider .closed-news-article .news-photo .day {
          display: inline-block;
          margin-left: 10px;
          padding: 10px;
          padding-top: 30px;
          background-color: #FFC222;
          color: white; }
      #News .news-content .slider .closed-news-article .news-photo-1 {
        background-image: url("images/news-photo-1.png"); }
      #News .news-content .slider .closed-news-article .news-photo-2 {
        background-image: url("images/news-photo-2.png"); }
      #News .news-content .slider .closed-news-article p {
        color: #5e5e5e; }
  #News .news-content .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 30px 0; }
    #News .news-content .bottom .arrow {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border: 1px solid #908E8E;
      color: #908e8e;
      cursor: pointer;
      margin: 0 9px; }
      #News .news-content .bottom .arrow:hover {
        background-color: #FFC222;
        border-color: #FFC222;
        color: white; }

@media (max-width: 1170px) {
  #News .news-content .slider {
    width: 555px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto; }
    #News .news-content .slider .opened-news-article {
      margin-bottom: 30px; } }

@media (max-width: 600px) {
  #News .news-content .slider {
    width: 100%; }
    #News .news-content .slider .opened-news-article {
      text-align: center;
      padding: 0 10%;
      margin-bottom: 0; }
    #News .news-content .slider .closed-news-article {
      display: none; } }

#Contacts {
  background-color: #595959;
  color: white;
  padding: 15px 0; }
  #Contacts .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  #Contacts .information {
    width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start; }
    #Contacts .information > * {
      margin: 15px 0; }
    #Contacts .information p {
      font-family: 'Roboto', sans-serif;
      color: #D3D2D2; }
    #Contacts .information .button {
      display: block;
      background-color: #FFC222;
      padding: 15px 20px; }
    #Contacts .information .bottom {
      font-size: 14px; }
      #Contacts .information .bottom .mail {
        margin: 15px 0; }
      #Contacts .information .bottom i {
        color: #FFCD21;
        width: 14px;
        margin-right: 15px; }
      #Contacts .information .bottom .phone i {
        font-size: 12px; }
  #Contacts .map iframe {
    height: 250px; }

@media (max-width: 1020px) {
  #Contacts .container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #Contacts .container .information {
      width: 600px; } }

@media (max-width: 660px) {
  #Contacts .container .information {
    width: 100%; }
  #Contacts .container .map {
    width: 100%; }
    #Contacts .container .map iframe {
      width: 100%; } }

@media (max-width: 450px) {
  #Contacts .map iframe {
    height: 400px; } }

footer {
  background-color: #303030;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 15px 0; }
