@import url('fontawesome/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
$sub-color: #FFC222;

// Reset

* { margin: 0;	padding: 0; }
a { text-decoration: none; color: black; }
html { background-color: #282828 }

// General styles

body {
	width: 1920px;
	margin: 50px auto;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-weight: 500;
	font-size: 30px;
	text-transform: uppercase;
}

h2 {
	font-weight: 500;
	font-size: 24px;
}

p { font-family: 'PT Serif', serif; font-size: 14px; }

.container {
	margin: auto;
	padding: 0 15px;
	width: 1140px;
}

// Blocks

#Header {
	header {
		background-color: #303030;
		font-family: 'Roboto', sans-serif;

		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.left {
			display: flex;
			.mail { margin-left: 30px; }

			font-size: 14px;
			color: #CBCACB;
			i { color: #FFCD21; }
			.phone i { font-size: 12px; }
		}

		.right {
			.button {
				display: block;
				background-color: $sub-color;
				padding: 15px 20px;
			}
		}
	}

	.topbar {
		font-family: 'Roboto', sans-serif;
		padding: 30px 0;

		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.logo {
			display: block;
			font-size: 30px;
			.left { font-weight: 500; color: $sub-color }
			.right { font-weight: 100; color: #212121; }
		}

		.menu {
			display: flex;
			.menu-item {
				display: block;
				color: #323232;
				padding: 10px 18px;
				margin-left: 12px;
				border: 1px solid white;

				&:hover { border-color: $sub-color; }
			}
		}
	}

	.slaider {
		color: white;
		a { color: white; }
		background-color: #737373;
		background-image: url('images/first-slaid-background.png');
		background-size: cover;

		.overlay { background-color: rgba(13,13,24,.47); }

		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 550px;
		}

		.arrow {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 45px;
			height: 45px;
			border: 1px solid white;
			&:hover { background-color: $sub-color; cursor: pointer; }
		}

		.first-slaid {
			text-align: center;
			width: 615px;

			p {
				font-size: 18px;
				line-height: 24px;
				color: #D3D2D2;
				margin: 20px auto 45px;
			}

			.button {
				display: inline-flex;
				align-items: center;

				border: 1px solid $sub-color;
				.left { padding: 0px 20px; font-weight: 500; }
				.right {
					padding: 14px 8px;
					background-color: $sub-color;
				}
			}
		}
	}
}



#OurServices {
	.title {
		padding: 60px 0;

		.top {
			display: flex;
			align-items: center;
			h2 { margin-left: 30px; }

			.hl {
				height: 2px;
				width: 106px;
				background-color: $sub-color;
			}
		}

		.bottom {
			display: flex;
			justify-content: space-between;
			margin-top: 5px;
			font-size: 14px;
			align-items: start;

			p {
				margin-left: 136px;
				width: 380px;
				color: #5e5e5e;
			}

			.button {
				border: 3px solid #E6E6E6;
				padding: 10px 38px;
			}
		}
	}

	.items {
		display: flex;
		justify-content: space-between;
		padding: 10px 0 35px;

		.item {
			padding: 30px 35px;
			width: 290px;
			text-align: center;
			background-color: #F9F9F9;
			box-shadow: 0 0 27px 7px rgba(91,89,89, .14);
			h4 { font-size: 18px; margin: 25px auto; }
			p { margin-bottom: 65px; }

			.bottom {
				display: flex;
				justify-content: space-between;
				align-items: center;
				.underline { text-decoration: underline; }

				.button {
					display: inline-flex;
					align-items: center;

					border: 1px solid $sub-color;
					.left { padding: 0px 25px; font-weight: 500; }
					.right {
						padding: 14px 8px;
						background-color: $sub-color;
					}
				}
			}
		}
	}
}


#AboutCompany {
	background-image: url('images/about-company-background.png');
	background-size: cover;
	background-position: 0 35%;

	.overlay { background-color: rgba(13,13,24,.57); }
	color: white;

	.container {
		padding: 35px 0 45px;
		height: 220px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: start;
		p { width: 600px; color: #d3d2d2; }

		.button {
			display: inline-flex;
			align-items: center;
			color: white;

			border: 1px solid $sub-color;
			.left { padding: 0px 25px; font-weight: 500; }
			.right {
				padding: 14px 8px;
				background-color: $sub-color;
			}
		}
	}
}

#ToGetConsultation {
	.container {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		flex-wrap: wrap;
	}

	.text-content { 
		width: 850px;

		.title {
			padding: 60px 0;

			.top {
				display: flex;
				align-items: center;
				h2 { margin-left: 30px; }

				.hl {
					height: 2px;
					width: 106px;
					background-color: $sub-color;
				}
			}

			.bottom p {
					margin-top: 5px;
					margin-left: 136px;
					width: 380px;
					color: #5e5e5e;
					font-size: 14px;
			}
		}

		form {
			padding-bottom: 40px;
			display: grid;
			grid-template-areas: 
			"email message message"
			"phone message message"
			"name message message"
			"topic none submit";
			justify-items: start;

			.email { grid-area: email; }
			.phone { grid-area: phone; }
			.name { grid-area: name; }
			.topic { grid-area: topic; }
			.message { grid-area: message; }
			.submit { grid-area: submit; }

			& > div { width: 100%; }

			.description {
				margin: 25px auto 10px 5px;
			}

			input.text {
				border: 1px solid #E6E6E6;
				padding: 10px;
				line-height: 18px;
				width: calc(100% - 50px);
			}

			textarea {
				border: 1px solid #E6E6E6;
				padding: 10px;
				line-height: 18px;
				width: calc(100% - 22px);
				height: 216px;
				resize: none;
			}

			select {
				border: 1px solid #E6E6E6;
				padding: 10px;
				padding-right: 30px;
				width: calc(100% - 30px);
				option { height: 18px; }
			}

			.button {
				display: inline-flex;
				align-items: center;
				justify-self: right;
				align-self: end;

				border: 1px solid $sub-color;
				.left { padding: 0px 25px; font-weight: 500; }
				.right {
					padding: 14px 8px;
					background-color: $sub-color;
				}
			}
		}
	}

	img { width: calc(100% - 850px); }
}

#OurAdvantages {
	background-image: url('images/our-advantages-background.png');
	background-size: cover;
	background-position: 0 100%;
	color: white;

	.overlay { background-color: rgba(13,13,24,.55); }

	.container {
		padding: 65px 15px 40px;
		height: 180px;
		display: flex;
		justify-content: space-between;
	}

	.item {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		text-align: center;
		width: 335px;
		h3 { margin: 15px auto; font-size: 18px; }
		p { color: #D3D2D2 }

		.arrow {
			border: 2px solid $sub-color;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 36px;
			width: 36px;
		}
	}
}