@import url("fontawesome/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
@import url("_container/_container.css");
@import url("_overlay/_overlay.css");
@import url("_section-title/_section-title.css");
@import url("_yellow-button/_yellow-button.css");
@import url("_feedback-form/_feedback-form.css");
@import url("_roof/_roof.css");
@import url("_slider/_slider.css");
@import url("_header/_header.css");
@import url("_our-service/_our-service.css");
@import url("_about-company/_about-company.css");
@import url("_get-consultation/_get-consultation.css");
@import url("_our-advantages/_our-advantages.css");
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }

body {
  min-width: 320px;
  background-color: #fff;
  font-family: 'Roboto', sans-serif; }

h1 {
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase; }

h2 {
  font-weight: 500;
  font-size: 24px; }

h3 {
  font-weight: 500;
  font-size: 18px; }

h4 {
  font-weight: 500;
  font-size: 14px; }

p {
  font-family: 'PT Serif', serif;
  font-size: 14px; }

.text_underline {
  text-decoration: underline; }

#News {
  background-color: #f9f9f9; }
  #News .news-content .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #News .news-content .slider .opened-news-article {
      background-color: #fff;
      -webkit-box-shadow: 0 0 27px 7px rgba(91, 89, 89, 0.14);
      box-shadow: 0 0 27px 7px rgba(91, 89, 89, 0.14);
      width: 415px;
      padding: 0 70px; }
      #News .news-content .slider .opened-news-article .quote-icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 35px;
        width: 65px;
        background-color: #FFC222;
        color: white; }
      #News .news-content .slider .opened-news-article .text {
        padding: 35px 0; }
        #News .news-content .slider .opened-news-article .text p {
          margin: 25px 0; }
    #News .news-content .slider .closed-news-article {
      width: 265px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-bottom: 35px; }
      #News .news-content .slider .closed-news-article .news-photo {
        width: 265px;
        height: 190px;
        background-size: cover; }
        #News .news-content .slider .closed-news-article .news-photo .day {
          display: inline-block;
          margin-left: 10px;
          padding: 10px;
          padding-top: 30px;
          background-color: #FFC222;
          color: white; }
      #News .news-content .slider .closed-news-article .news-photo-1 {
        background-image: url("images/news-photo-1.png"); }
      #News .news-content .slider .closed-news-article .news-photo-2 {
        background-image: url("images/news-photo-2.png"); }
      #News .news-content .slider .closed-news-article p {
        color: #5e5e5e; }
  #News .news-content .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 30px 0; }
    #News .news-content .bottom .arrow {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border: 1px solid #908E8E;
      color: #908e8e;
      cursor: pointer;
      margin: 0 9px; }
      #News .news-content .bottom .arrow:hover {
        background-color: #FFC222;
        border-color: #FFC222;
        color: white; }

@media (max-width: 1170px) {
  #News .news-content .slider {
    width: 555px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto; }
    #News .news-content .slider .opened-news-article {
      margin-bottom: 30px; } }

@media (max-width: 600px) {
  #News .news-content .slider {
    width: 100%; }
    #News .news-content .slider .opened-news-article {
      text-align: center;
      padding: 0 10%;
      margin-bottom: 0; }
    #News .news-content .slider .closed-news-article {
      display: none; } }

#Contacts {
  background-color: #595959;
  color: white;
  padding: 15px 0; }
  #Contacts .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  #Contacts .information {
    width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start; }
    #Contacts .information > * {
      margin: 15px 0; }
    #Contacts .information p {
      font-family: 'Roboto', sans-serif;
      color: #D3D2D2; }
    #Contacts .information .button {
      display: block;
      background-color: #FFC222;
      padding: 15px 20px; }
    #Contacts .information .bottom {
      font-size: 14px; }
      #Contacts .information .bottom .mail {
        margin: 15px 0; }
      #Contacts .information .bottom i {
        color: #FFCD21;
        width: 14px;
        margin-right: 15px; }
      #Contacts .information .bottom .phone i {
        font-size: 12px; }
  #Contacts .map iframe {
    height: 250px; }

@media (max-width: 1020px) {
  #Contacts .container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #Contacts .container .information {
      width: 600px; } }

@media (max-width: 660px) {
  #Contacts .container .information {
    width: 100%; }
  #Contacts .container .map {
    width: 100%; }
    #Contacts .container .map iframe {
      width: 100%; } }

@media (max-width: 450px) {
  #Contacts .map iframe {
    height: 400px; } }

footer {
  background-color: #303030;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 15px 0; }
