@import url('fontawesome/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
$sub-color: #FFC222;

// -------------------- Normalize --------------------- //

* { margin: 0;	padding: 0; }
a { text-decoration: none; color: black; }

body {
	min-width: 320px;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-weight: 500;
	font-size: 30px;
	text-transform: uppercase;
}

h2 {
	font-weight: 500;
	font-size: 24px;
}

h3 {
	font-weight: 500;
	font-size: 18px;
}

h4 {
	font-weight: 500;
	font-size: 14px;
}

p { font-family: 'PT Serif', serif; font-size: 14px; }

.text_underline { text-decoration: underline; }

// ---------------------- Blocks ---------------------- //

@import url('_container/_container.css');
@import url('_overlay/_overlay.css');
@import url('_section-title/_section-title.css');
@import url('_yellow-button/_yellow-button.css');

// ------------------- Page Elements ------------------ //


@import url('_roof/_roof.css');
@import url('_slider/_slider.css');
@import url('_header/_header.css');
@import url('_our-service/_our-service.css');
@import url('_about-company/_about-company.css');

#ToGetConsultation {
	.container {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		flex-wrap: wrap;
	}

	.text-content { 
		width: 850px;

		form {
			padding-bottom: 40px;
			display: grid;
			grid-template-areas: 
			"email message message"
			"phone message message"
			"name message message"
			"topic none submit";
			justify-items: start;

			.email { grid-area: email; }
			.phone { grid-area: phone; }
			.name { grid-area: name; }
			.topic { grid-area: topic; }
			.message { grid-area: message; }
			.submit { grid-area: submit; }

			& > div { width: 100%; }

			.description {
				margin: 25px auto 10px 5px;
			}

			input.text {
				border: 1px solid #E6E6E6;
				padding: 10px;
				line-height: 18px;
				width: calc(100% - 50px);
			}

			textarea {
				border: 1px solid #E6E6E6;
				padding: 10px;
				line-height: 18px;
				width: calc(100% - 22px);
				height: 216px;
				resize: none;
			}

			select {
				border: 1px solid #E6E6E6;
				padding: 10px;
				padding-right: 30px;
				width: calc(100% - 30px);
				option { height: 18px; }
			}

			.yellow-button {  
				justify-self: right;
				align-self: flex-end;
			}
		}
	}

	img { width: calc(100% - 850px); }
}

@media (max-width: 1100px) {
	#ToGetConsultation {
		img { display: none; }
		.text-content { width: 100%; }
	}
}

@media (max-width: 500px) {
	#ToGetConsultation {
		.text-content form {
			display: flex;
			flex-direction: column;
			input.text { width: calc(100% - 22px); }
			select { width: calc(100% - 2px); }
			.submit { margin-top: 20px; align-self: flex-end; }
		}
	}
}

#OurAdvantages {
	background-image: url('images/our-advantages-background.png');
	background-size: cover;
	background-position: 0 100%;

	.container {
		padding: 65px 15px 40px;
		height: 180px;
		display: flex;
		justify-content: space-between;
	}

	.item {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		text-align: center;
		width: 335px;
		h3 { margin: 15px auto; }
		p { color: #D3D2D2 }

		.arrow {
			border: 2px solid $sub-color;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 36px;
			width: 36px;
		}
	}
}

@media (max-width: 1180px) {
	#OurAdvantages {
		background-position: 80% 0;

		.container {
			display: block;
			height: auto;
			.item { margin: 50px auto; }
		}
	}
}

@media (max-width: 380px) {
	#OurAdvantages .container .item { width: 100%; }
}

#News {
	background-color: #f9f9f9;

	.news-content {

		.slider {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			.opened-news-article {
				background-color: #fff;
				box-shadow: 0 0 27px 7px rgba(91,89,89, .14);
				width: 415px;
				padding: 0 70px;

				.quote-icon {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 35px;
					width: 65px;
					background-color: $sub-color;
					color: white;
				}

				.text {
					padding: 35px 0;
					p { margin: 25px 0; }
				}
			}

			.closed-news-article {
				width: 265px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding-bottom: 35px;

				.news-photo {
					width: 265px;
					height: 190px;
					background-size: cover;
					.day {
						display: inline-block;
						margin-left: 10px;
						padding: 10px;
						padding-top: 30px;
						background-color: $sub-color;
						color: white;
					}
				}

				.news-photo-1 { background-image: url('images/news-photo-1.png'); }
				.news-photo-2 { background-image: url('images/news-photo-2.png'); }

				p { color: #5e5e5e; }
			}
		}

		.bottom {
			display: flex;
			justify-content: center;
			padding: 30px 0;

			.arrow {
				display: flex;
				justify-content: space-around;
				align-items: center;
				width: 40px;
				height: 40px;
				border: 1px solid #908E8E;
				color: #908e8e;
				cursor: pointer;
				margin: 0 9px;
				&:hover {
					background-color: $sub-color;
					border-color: $sub-color;
					color: white;
				}
			}
		}
	}
}

@media (max-width: 1170px) {
	#News .news-content .slider {
		width: 555px;
		justify-content: space-between;
		margin: auto;

		.opened-news-article { margin-bottom: 30px; }
	}
}

@media (max-width: 600px) {
	#News .news-content .slider {
		width: 100%;

		.opened-news-article {
			text-align: center;
			padding: 0 10%;
			margin-bottom: 0;
		}

		.closed-news-article {
			display: none;
		}
	}
}

#Contacts{
	background-color: #595959;
	color: white;
	padding: 15px 0;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	.information {
		width: 360px;
		display: flex;
		flex-direction: column;
		align-items: start;

		& > * { margin: 15px 0; }

		p {
			font-family: 'Roboto', sans-serif;
			color: #D3D2D2;
		}

		.button {
			display: block;
			background-color: $sub-color;
			padding: 15px 20px;
		}

		.bottom {
			.mail { margin: 15px 0; }
			font-size: 14px;
			i { color: #FFCD21; width: 14px; margin-right: 15px; }
			.phone i { font-size: 12px; }
		}
	}

	.map iframe {
		height: 250px;
	}
}

@media (max-width: 1020px) {
	#Contacts .container {
		justify-content: center;
		.information { width: 600px; }
	}
}

@media (max-width: 660px) {
	#Contacts .container {
		.information { width: 100%; }
		.map {
			width: 100%;
			iframe { width: 100%; }
		}
	}
}

@media (max-width: 450px) {
	#Contacts .map iframe { height: 400px; }
}

footer {
	background-color: #303030;
	color: white;
	text-align: center;
	font-size: 12px;
	padding: 15px 0;
}