$sub-color: #FFC222;

.news { background-color: #f9f9f9; }

.news-slider__content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.news-article_opened {
	background-color: #fff;
	box-shadow: 0 0 27px 7px rgba(91,89,89, .14);
	width: 415px;
	padding: 0 70px;

	.news-article__quote-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 35px;
		width: 65px;
		background-color: $sub-color;
		color: white;
	}

	.news-article__content { padding: 35px 0; }
	.news-article__text { margin: 25px 0; }
}

.news-article_closed {
	width: 265px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 35px;

	.news-article__photo {
		width: 265px;
		height: 190px;
		background-size: cover;
	}

	.news-article__day {
		display: inline-block;
		margin-left: 10px;
		padding: 10px;
		padding-top: 30px;
		background-color: $sub-color;
		color: white;
	}

	.news-article__photo_1 { background-image: url('images/news-photo-1.png'); }
	.news-article__photo_2 { background-image: url('images/news-photo-2.png'); }

	.news-article__text { color: #5e5e5e; }
}

.news-slider__arrows {
	display: flex;
	justify-content: center;
	padding: 30px 0;
}

.news-slider__arrow {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 40px;
	height: 40px;
	border: 1px solid #908E8E;
	color: #908e8e;
	cursor: pointer;
	margin: 0 9px;
	&:hover {
		background-color: $sub-color;
		border-color: $sub-color;
		color: white;
	}
}

@media (max-width: 1170px) {
	.news-slider__content {
		width: 555px;
		justify-content: space-between;
		margin: auto;
	}

	.news-article_opened { margin-bottom: 30px; }
}

@media (max-width: 600px) {
	.news-slider__content { width: 100%; }
	.news-article_closed { display: none; }
	.news-article_opened {
		text-align: center;
		padding: 0 10%;
		margin-bottom: 0;
	}

}