.about-company {
	background-image: url('images/about-company-background.png');
	background-size: cover;
	background-position: 0 35%;
}

.about-company__second-inner {
	padding: 35px 0 45px;
	height: 220px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
}

.about-company__text { max-width: 600px; color: #d3d2d2; }

@media (max-width: 680px) {
	.about-company__second-inner { height: 290px; }
}